$border-color: rgba(151, 151, 151, 0.452);
$border-size: 1px;
$width-box: 240px;
$media: 768px;
$width:48px;
$color-main: #fff;

.info-trust__button{
	justify-content: center;
	background: transparent;
	margin: 0;
	border: 0;
	cursor: pointer;
	width: 13px;
	height: 13px;
	position: relative;
	padding: 0;
}

.info-trust__buttonDos{
	color: white;
	background-color: red;
	width: 380px;
	height: auto;
	border-radius: 5px;
	position: relative;
	display: block;
}

$color-border: rgba(176, 176, 176, 0.4);
$color-background: white;
$color-transparent: rgba(255, 255, 255, 0);
$width-after: 7;
$width-before: 9;

button > * {
	pointer-events: none;
}

.ue-c-tooltip-trust{
		display: none;
		z-index: 10;
		box-sizing: border-box;
		padding: 1em 2em 1em 1em;
		max-width: 200px;
		position: relative;
		background: $color-background;
		border: 1px solid $color-border;
		box-shadow: 0px 0px 1px 1px $color-border;
		border-radius:6px;
		&:after, &:before {
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
		
	// &--is-left{
	&[data-position="right"]{
		&:after, &:before {
			right: 100%;
			top: 50%;
		}
		&:after {
			border-width: #{$width-after}px;
			margin-top: -#{$width-after}px;
			border-color: $color-transparent;
			border-right-color: $color-background;
		}
		&:before {
			border-width: #{$width-before}px;
			margin-top: -#{$width-before}px;
			border-color: $color-transparent;
			border-right-color: $color-border;
		}
	}
	&[data-position="top"]{
		&:after, &:before {
			top: 100%;
			left: 50%;
		}
		&:after {
			border-color: $color-transparent;
			border-top-color:$color-background;
			border-width: #{$width-after}px;
			margin-left: -#{$width-after}px;
		}
		&:before {
			border-color: $color-transparent;
			border-top-color: $color-border;
			border-width: #{$width-before}px;
			margin-left: -#{$width-before}px;
		}
	}
	&[data-position="bottom"]{
		&:after, &:before {
			bottom: 100%;
			left: 50%;
		}
		&:after {
			border-color: $color-transparent;
			border-bottom-color:$color-background;
			border-width: #{$width-after}px;
			margin-left: -#{$width-after}px;
		}
		&:before {
			border-color: $color-transparent;
			border-bottom-color:$color-border;
			border-width: #{$width-before}px;
			margin-left: -#{$width-before}px;
		}
	}
	&[data-position="left"]{
		&:after, &:before {
			left: 100%;
			top: 50%;
		}
		&:after {
			border-color: $color-transparent;;
			border-left-color: #ffffff;
			border-width: #{$width-after}px;
			margin-top: -#{$width-after}px;
		}
		&:before {
			border-color: $color-transparent;
			border-left-color:$color-border;
			border-width: #{$width-before}px;
			margin-top: -#{$width-before}px;
		}
	}

	&--open{
		display: inline-block;
		position: fixed;
	}
	&--closearrow{
		position: absolute;
		top: 1.3em;
		right: 1.3em;
		z-index: 1;
		border: 0;
		background-color: transparent;
	}
	&--hidden{
		position:absolute;
		left:-10000px;
		top:auto;
		width:1px;
		height:1px;
		overflow:hidden;
	}
	button > * {
		pointer-events: none;
	}
	button{
		background-color: transparent;
		padding: 0;
		margin:0;
	}

	p{
		font-size: 12px;
		font-family: sans-serif;
		line-height: 1.4em;
		padding: 0 ;
	}
	a{
		display: block;
	}
}

