// fuentes
@font-face {
	font-family: "Roboto";
	src: url("//e00-elmundo.uecdn.es/fonts/roboto/Roboto-Regular.eot")
		format("eot");
	src: url("//e00-elmundo.uecdn.es/fonts/roboto/Roboto-Regular.eot?#iefix")
			format("embedded-opentype"),
		url("//e00-elmundo.uecdn.es/fonts/roboto/Roboto-Regular.woff")
			format("woff"),
		url("//e00-elmundo.uecdn.es/fonts/roboto/Roboto-Regular.ttf") format("ttf");
}

// variables
$ue-tooltip-font-family: "Roboto";
$ue-tooltip-font-size: 15px;
$ue-tooltip-width-border: 1px;
$ue-tooltip-color-border: rgba(143, 143, 143, 0.267);
$ue-tooltip-color-background: rgb(255, 255, 255);
$ue-tooltip-font-color: rgb(0, 0, 0);
$ue-tooltip-width-after: 12px;
$ue-tooltip-width-before: 15px;
$ue-tooltip-box-shadow: 0px 0px 1px 1px $ue-tooltip-color-border;
$ue-tooltip-mq01: 768px;


// Para evitar los problemas que tiene js en los eventos click/tap con los SVG
// https://css-tricks.com/almanac/properties/p/pointer-events/

button > * {
	pointer-events: none;
}

//estilos botón

.info-trust__button {
	justify-content: center;
	background: transparent;
	margin: 0;
	border: 0;
	cursor: pointer;
	width: 23px;
	height: 16px;
	position: relative;
	display: inline-block;
	padding: 0;
}


//estilos tooltip
//https://www.cssportal.com/css-tooltip-generator/#
.ue-c-tooltip-trust {
	display: none;
	z-index: 10;
	box-sizing: border-box;
	position: relative;
	background: $ue-tooltip-color-background;
	border: $ue-tooltip-width-border solid $ue-tooltip-color-border;
	box-shadow: $ue-tooltip-box-shadow;
	border-radius: 6px;
	font-family: Roboto;
	padding: 1em 2.5em 1em 1em;
	max-width: 190px;
	@media all and (min-width: $ue-tooltip-mq01) {
		max-width: 246px;
	};
	&:after,
	&:before {
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&[data-position="bottom"] {
		&:after,
		&:before {
			bottom: 100%;
			left: 65px;
		}
		&:after {
			border-color:  rgba(255, 255, 255, 0);
			border-bottom-color: $ue-tooltip-color-background;
			border-width: $ue-tooltip-width-after;
			margin-left: -$ue-tooltip-width-after;
		}
		&:before {
			border-color:  rgba(255, 255, 255, 0);
			border-bottom-color: $ue-tooltip-color-border;
			border-width:  $ue-tooltip-width-before + $ue-tooltip-width-border - 2  ;
			margin-left: - ($ue-tooltip-width-before + $ue-tooltip-width-border - 2 ) ;
		}
		margin-top: #{$ue-tooltip-width-before}px;
	}
	&--open {
		display: inline-block;
		position: fixed;
	}
	&--closearrow {
		font-size: $ue-tooltip-font-size;
		position: absolute;
		top: 0.8em;
		right: 0.8em;
		z-index: 1;
		border: 0;
		background-color: transparent;
	}
	&--hidden {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
	&--no-arrow{
		&:after,
		&:before {
			border: solid transparent;
			content: none;;
		}
	}
	button {
		background-color: transparent;
		padding: 0;
		margin: 0;
	}
	p {
		color: $ue-tooltip-font-color;
		font-family: $ue-tooltip-font-family;
		font-size: 12px;
		line-height: 1.3em;
		padding: 0;
		margin: 0;
		@media all and (min-width: $ue-tooltip-mq01) {
			font-size: $ue-tooltip-font-size;
		};
	}
	a {
		margin-top: 0.4em;
		display: block;
	}
}
