<div id="ue-c-tooltip_trust" class="ue-c-tooltip-trust">

    <button class="ue-c-tooltip-trust__button" id="info_button" title="Información del contenido" aria-expanded="false" aria-haspopup="true" aria-controls="trust_main_container">
        <svg  class="ue-c-tooltip-trust__button-icon"  aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
            <g fill="none" fill-rule="evenodd" transform="translate(0 -1)">
                <rect width="13" height="13" y="1" fill="#EAEAEA" fill-rule="nonzero" rx="2" />
                <path fill="#3875A5" d="M5.84 3.414c0-.3.107-.557.319-.769.212-.212.468-.318.769-.318.296 0 .55.106.762.318.212.212.318.468.318.77 0 .3-.106.556-.318.768a1.04 1.04 0 0 1-.762.318c-.301 0-.557-.106-.77-.318a1.048 1.048 0 0 1-.317-.769zm-.614 8.251c.246-.041.414-.102.505-.185.137-.123.206-.344.206-.663V6.702c0-.282-.048-.475-.144-.577-.096-.103-.285-.18-.567-.23v-.341h2.686v5.318c0 .305.046.501.137.588.091.087.262.155.513.205V12H5.226v-.335z"
                />
            </g>
        </svg>
    </button>

    <div class="ue-c-tooltip-trust__main is-closed" role="dialog"  tabindex="-1" id="trust_main_container">
        <div role="document">
            <button title="cerrar ventana" class="ue-c-tooltip-trust__close">
                <span class="is-hidden">cerrar</span>
                <svg xmlns="http://www.w3.org/2000/svg"  aria-hidden="true" role="img" width="12" height="12" viewBox="0 0 12 12">
                    <path fill="#A1A1A1" fill-rule="nonzero" d="M6 4.182L10.182 0 12 1.818 7.818 6 12 10.182 10.182 12 6 7.818 1.818 12 0 10.182 4.182 6 0 1.818 1.818 0 6 4.182z"
                    />
                </svg>
            </button>
            <div class="ue-c-tooltip-trust__box">
                <p>Basado en hechos, ya sean presenciados y verificados directamente por el periodista, o informados y verificados
                    a partir de fuentes bien informadas
                    <a href="https://www.elmundo.es/em/codigo-etico.html" title="Se abre en nueva ventana" target="_blank">Pulsa aquí para saber más</a>
                </p>
            </div>
        </div>
    </div>
    
</div>