<div  id="ue-c-tooltip_trust" class="ue-c-tooltip-trust">
    <div class=" ue-c-tooltip-trust__container">
        <div class="ue-c-tooltip-trust__main">
            <svg class="ue-c-tooltip-trust__close" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                <path fill="#A1A1A1" fill-rule="nonzero" d="M6 4.182L10.182 0 12 1.818 7.818 6 12 10.182 10.182 12 6 7.818 1.818 12 0 10.182 4.182 6 0 1.818 1.818 0 6 4.182z"/>
            </svg>
            <div class="ue-c-tooltip-trust__box">
                <p>Basado en hechos, ya sean presenciados y verificados directamente por el periodista, o informados y verificados a partir de fuentes bien informadas
                    <a href="https://www.elmundo.es/em/codigo-etico.html" target="_blank" >Pulsa aquí para saber más</a> </p>
            </div>
        </div>
    </div>
    <div class="ue-c-tooltip-trust__info-button">
        <svg  xmlns="http://www.w3.org/2000/svg" width="13" height="13">
            <g fill="none" fill-rule="evenodd" >
                <rect width="13" height="13" y="1" fill="#EAEAEA" fill-rule="nonzero" rx="2"/>
                <text fill="#3875A5" font-family="Times-Bold, Times" font-size="14" font-weight="bold">
                <tspan x="5" y="14">i</tspan>
                </text>
            </g>
        </svg>
    </div>
</div>